.active-body-overflow {
    overflow: hidden;
}

.Header {
    background-color: black;

    &__inside {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inside.active {
        height: 100vh;
        background-color: black;
        align-items: flex-start;
    }


    &__menu.active {
        ul {
            display: block;
            position: absolute;
            left: 20px;
            top: 100px;

            li a {
                color: #FFF;
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
            }

            li {
                transition: all 0.3s ease-in-out;
                margin-bottom: 10px;
            }

            li:hover {
                color: bisque;
                transform: scale(1.04);
            }

            li:hover a {
                color: bisque;
            }

        }
    }


    &__menu {
        ul {
            display: flex;
            gap: 40px;

            li a {
                color: #FFF;
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
            }

            li {
                transition: all 0.3s ease-in-out;

            }

            li:hover {
                color: bisque;
                transform: scale(1.04);
            }

            li:hover a {
                color: bisque;
            }

        }
    }

    &__autorization {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__autorization.active {
        position: absolute;
        left: 20px;
        display: block;
        top: 220px;

        .Header__getStarted {
            margin-top: 20px;
        }
    }

    &__login {
        transition: all 0.3s ease-in-out;
    }

    &__login a {
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__login:hover {
        color: bisque;
        transform: scale(1.04);
    }

    &__login:hover a {
        color: bisque;
    }

    &__burger {
        display: none;
    }

}


@media (max-width: 800px) {
    .Header__menu {
        display: none;
    }

    .Header__menu.active {
        display: inline;
    }

    .Header__autorization {
        display: none;
    }

    .Header__autorization.active {
        display: inline;
    }

    .Header__burger {
        display: inline;
        cursor: pointer;

        svg {
            color: white;
            width: 30px;
            height: 25px;
            transition: all 0.3s ease-in-out;
        }
    }

    .Header__burger:hover {
        svg {
            color: bisque;
            transform: scale(1.05);
        }
    }

}